.button_js{
    width: 116px;
    height: 56px;
    background-color: orange;
    color: bisque;
    border: 1px solid black;
    border-radius: 6px;
}
.button_js:hover{
   background-color: rgb(255, 77, 0);
    color: rgb(250, 242, 233); 
}